.Collapsible {
    background-color: #fff;
}

.Collapsible__contentInner {
    padding: 10px;
    border-top: 0;
}

.Collapsible__contentInner:last-child {
    margin-bottom: 0;
}

.Collapsible__trigger {
    display: block;
    font-weight: 400;
    text-decoration: none;
    color: #000;
    position: relative;
    border: 1px solid white;
    padding: 10px;
    background: #ededed;
}

.Collapsible__trigger:after {
    font-family: 'FontAwesome';
    content: '\f107';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms;
}

Collapsible__trigger .is-open {
    transform: rotateZ(180deg);

}

Collapsible__trigger .is-disabled {
    opacity: 0.5;
    background-color: grey;
}
